*{
    padding: 0;
    margin: 0;
}
body{
   background-color:#041e2e !important ;
   color:white !important; 
}
.mainNavbar{
    color: rgb(114, 100, 194);
    margin: 0;
    padding-right: 0;
}
.headings{
     display: flex;
    justify-content: center;
}
.logo
{
    height: 40px;
    width: 40px;
}
.heading2{
display: flex;
justify-content: center;
color: rgb(87, 158, 87);
}
.heading3{
display: flex;
justify-content: center;
    color:white;
}
.menuOfsite{
    color: rgb(105, 121, 214);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 45px;
}
.menubar{
    display: flex;
    justify-content: center;
}
.olTag{
    text-decoration: none;
    /* border: 5px solid red; */
    color: white;
}