*{
    padding: 0;
    margin: 0;
}
body{
   background-color:#041e2e !important ;
   color:white !important; 
}
.mainNavbar{
    color: rgb(114, 100, 194);
    margin: 0;
    padding-right: 0;
}
.headings{
     display: flex;
    justify-content: center;
}
.logo
{
    height: 40px;
    width: 40px;
}
.heading2{
display: flex;
justify-content: center;
color: rgb(87, 158, 87);
}
.heading3{
display: flex;
justify-content: center;
    color:white;
}
.humburgerButton{
    position: absolute;
    left: 95pc;
    top: 37px;
    background-color: transparent;
    border: none
}
.rightNav{
    position: fixed;
    top: 70px;
    right: -2px;
    width: 314px;
    height: 100%;
    transition: right 0.3s;
    background-color:#031724 !important ;
    border-radius: 5px;


}
.rightNav li {
    margin-bottom: 13px;
    margin-top: 20px;
    color: aliceblue;
}


/* @media screen and (max-width:1005px) {
    .menuItems{
        display: none;
    }
    
} */


@media screen and (max-width:510px) {
    .heading2{
        display: none;
    }
    .heading3{
        display: none;
    }
    
}